* {
  box-sizing: border-box;
}

@font-face {
  font-family: erbos-draco;
  src: url("../erbos-draco-1st-nbp.otf") format("opentype");
}
body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/v14_3.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  box-shadow: 100px 100px 0px 0px rgba(0, 0, 0, 0.5);

}

.scoreboard {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  position: relative;
}

.scoreboard-container {
  display: flex;
  flex-direction: row; /* Align in a row */
  justify-content: space-around; /* Distribute the items evenly */
  align-items: center; /* Align vertically */
  width: 100%;
  text-align: center;
}

.scoreboard-content {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 18%;
  width: 100%;
  gap: 15px;
}


h2 {
  font-family: "Bungee", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 3em;
  margin: 0%;
}

#team-a-score, #team-b-score {
  margin: 50px 0px 50px 0px;
  font-family: erbos-draco;
  font-size: 9em
}

button {
  background-color: #B60E0E;
  border: none;
  color: rgb(230, 230, 230);
  padding: 5px 17px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  font-family: "Bungee", sans-serif;
  font-weight: 700;
  font-size: 25px;
}

.scoreboard-container {
  display: flex;
  flex-direction: row; /* Ensure flex direction is row */
  justify-content: center; /* Center items horizontally */
  align-items: center; /* Align items vertically in the container */
  width: 100%; /* Ensure it takes full width */
  text-align: center;
}




.title {
  font-size: 2em;
  margin-bottom: 10px;
}

#timer {
  font-family: 'Cursed Timer ULiL', sans-serif;
  font-size: 4em;
}

#start-button, #stop-button, #reset-button {
  font-size: 1em;
  padding: 5px 10px;
}

